//colors
.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.tertiary {
  color: var(--color-text-tertiary);
}

.error {
  color: var(--color-text-error);
}

.disabled {
  color: var(--color-text-disabled);
}
