//colors
.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.error {
  color: var(--color-text-error);
}

.active {
  color: var(--color-text-active);
}

.disabled {
  color: var(--color-text-disable);
}
