.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border: 0.1rem solid var(--color-border-primary);
    border-radius: 0.6rem;

    .input {
      flex: 1;
      border: unset;
      outline: none;
      background-color: transparent;
      color: var(--color-text-primary);
    }

    svg {
      color: var(--color-text-primary);
    }
  }

  .error {
    border-color: var(--color-border-error);
  }
}
