.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .filterSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .forms {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      color: var(--color-text-primary);
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
