:root {
  --primary: #fff;
  --secondary: #242424;
  --tertiary: #fbfbfb;

  // Text
  --color-text-primary: #000;
  --color-text-secondary: #fff;
  --color-text-tertiary: #1058dd;
  --color-text-error: #e30613;
  --color-text-disabled: #6e6e6e;

  // Border Colors
  --color-border-primary: #d9d9d9;
  --color-border-disabled: #8c9197;
  --color-border-error: #e30613;

  // Button Colors
  --color-button-primary: #1058dd;
  --color-button-tertiary: #e30613;
  --color-button-disabled: #d9d9d9;

  --font-primary: googleFont, arial, verdana, tahoma, sans-serif;

  body {
    background-image: linear-gradient(to right, #66bae8, #f2fcfe);
  }
}

:root.dark {
  --primary: #121212;
  --secondary: #1e1e1e;
  --tertiary: #2a2a2a;

  // Text
  --color-text-primary: #fff;
  --color-text-secondary: #000;
  --color-text-tertiary: #4d8dff;
  --color-text-error: #ff5f6d;
  --color-text-disabled: #999999;

  // Border Colors
  --color-border-primary: #444444;
  --color-border-disabled: #666666;
  --color-border-error: #ff5f6d;

  // Button Colors
  --color-button-primary: #4d8dff;
  --color-button-tertiary: #ff5f6d;
  --color-button-disabled: #444444;

  --font-primary: googleFont, arial, verdana, tahoma, sans-serif;

  body {
    background-image: linear-gradient(to right, #3a4e8c, #1a2c38);
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary) !important;
  font-size: 1.4rem;
  font-weight: 400;

  @include respond(lg) {
    font-size: 1.6rem;
  }
}

/* 1rem === 10px */
html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'googleFont';
  src: url('/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 1 900;
  font-stretch: 50% 200%;
  font-style: normal;
  font-display: fallback;
}

// date picker custom styles
.rmdp-input {
  width: 100%;
  padding: 0.8rem !important;
  min-height: 3.7rem !important;
  background-color: transparent !important;
  color: var(--color-text-primary) !important;
  border: 0.1rem solid var(--color-border-primary) !important;
}

.icon {
  color: var(--color-text-primary) !important;
}
